<html>
<body>
    <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}" method = 'POST'>
        <p>
        Item Name: <input type='text' size='80' name='name' placeholder = '{{item.name}}'><br />
        Course: <input type='text' size='80' name='course' placeholder = '{{item.course}}'><br />
        Item Description: <input type='text' size='80' name='description' placeholder = '{{item.description}}'><br />
        Item Price: <input type='number' size='8' step="any" name='price' placeholder = '{{item.price}}'><br />
        <input type='submit' value='Edit'> <input type="reset">
        </p>
    </form>
    <a href= "{{url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}">Cancel</a>
</body>
</html>
